$translucent-color: rgba(silver, 0.5);
// SASS functions can have default arguments
// They may also have optional arguments
@function background($color: $translucent-color, $img: null, $extra-values...){
  //here we will use the if function to check to see if a background image is included
  $url: if($img, url("./some/img/#{$img}.jpg"), null);
  @return $color, $url;
}

//A similar output can be achieved using mixins, mixins return reusable styles, functions return reusable values
.example-one{ background: background(red)}
.example-two{ background: background($img: filename)}
.example-three{ background: background($translucent-color, magic, center fixed); }

//Using a function to mutate the values
@function font-scale($exponent, $base-font-size: 14px, $ratio: 1.2){
  $value:1;

  @for $i from 1 through $exponent {
    $value: $value * $ratio;
    @debug value is $value;
  }
  @return if($exponent > 0, $base-font-size * $value, $base-font-size);
}

.stuff{font-size: font-scale(4);}

@for $i from 1 through 6 {
  $exponent: 7 - $i;

  h#{$i} {font-size: font-scale($exponent)}
}