/* Sample colours from flat UI design */
$monza_red: #CF000F; //207, 0, 15
$plum: #913D88; //145, 61, 136
$royal_blue: #4183D7; //65, 131, 215
$eucalyptus: #26A65B; //38, 166, 91
$lemon: #F7CA18; //247, 202, 24
$burnt_orange:#D35400; //211, 84, 0
$lynch_grey: #6C7A89; //108, 122, 137
$iron: #DADFE1; //218, 223, 225
$white_smoke: #ECECEC;

/* Prefix ready mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Typography Mixins */
$font-family: 'open sans', lato, sans-serif;

@mixin para-type($font-family) {
     margin-bottom: 20px;
     font-size: 14px;
     line-height: 1.6em;
     font-family: $font-family;
}

@mixin main-head($font-family){
    font-size: 24px;
    line-height: 1.6em;
    font-family: $font-family;
}

/* Hover state transitions */





/* Colour Palette using lighten and darken */
@mixin colour-palette($colour){
  $shade-one: lighten($colour, 10%);
  $shade-two: $colour;
  $shade-three: darken($colour, 10%);

  /* Function to find complementary colours? */
}


/* Flexbox made easy */
@mixin flex-box($display, $flex-flow, $justify){
  display:$display;
  flex-flow: $flex-flow;
  justify-content: $justify;
}

/*this will create the basis for the flexbox container. */
.flex-box-container{
  @include flex-box(flex, row wrap, space-around)
}

/* Base flex container, edit into mixin*/
.flex-container{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  /*
  * The main values are the "display", "flex-flow" and "justify-content"
  *
  */
}

/**
  1st option: flex;
  2nd option: ;
*/

/*
  Options for the name value pairs 
  
  flex-direction: | row | row-reverse | column | column-reverse |;
  justify-content: | flex-start | flex-end | center | space-between | space-around |;
*/

@mixin flex-container($display, $flex-flow, $justify-content){
  display: $dispay;
  -webkit-flex-flow: $flex-flow;
  justify-content: $justify-content;
}

.flex-item{
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.inheritance{
  @extend .flex-item;
  background-color: #fff;
  color: #000;
}


@mixin multi-col-mixin($num-of-cols, $col-gutter, $col-rule) {
  -webkit-column-count: $num-of-cols; /* Ch, Saf, And, BB  */
     -moz-column-count: $num-of-cols; /* Fx */
          column-count: $num-of-cols; /* IE 10, Op 11.1+ */

  -webkit-column-gap: $col-gutter;
     -moz-column-gap: $col-gutter;
          column-gap: $col-gutter;

  -webkit-column-rule: $col-rule;
     -moz-column-rule: $col-rule;
          column-rule: $col-rule;
}

.example-of-multi-col-mixin{
  @include multi-col-mixin(2, 10px, 1px solid #000);  
}

@mixin rotate-mixin($degrees) {
  -webkit-transform: rotate($degrees); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate($degrees); /* IE 9 */
          transform: rotate($degrees); /* IE 10, Fx 16+, Op 12.1+ */
}


/*SASS Number Functions*/
.number-functions{
  width:random([$limit]); //returns a random number up to the specified limit

  height:abs($number); //returns abslute value of a number

  min-width:min($numbers); //Find minimum of several numbers

  max-width:max($numbers); //Find maximum of several numbers

  font-size:floor($number);

  font-size:ceil($number);

  font-size:round($number);
}

/*miscellaneous functions*/
.border-class{
  border-right: if(true, 2px, 1px);  /* => 2px*/
}

/*http://sass-lang.com/documentation/Sass/Script/Functions.html*/
.list-functions{
  height: length($list); //returns the length of the list
  nth($list, $n); returns specific item in a list
  set-nth($list, $n, $value) //replaces the nth item in a list
  join($list1, list2, [$separator]) //joins two lists into one
  append($list1, list2, [$separator]) //appeands a single value onto the end of a list
  zip($lists) //Combines several lists into a single multidimensional list
  index($list, $value) //returns the position of a value within a list
  list-separator($list) //returns the separator of a list
}



/*Example of an args list*/
/*the ... spread after gradient means that it can accept any number of arguments into that one variable*/
@mixin linear-gradient($direction, $gradients...) {
  background-color: nth($gradients, 1);
  background-image: linear-gradient($direction, $gradients...);
}

.selector {
  @include linear-gradient(to right, magenta, red, orange, yellow, green, blue, purple);
}

$parameters: (
  'c': 'kittens',
  'a': true,
  'b': 42
);

$value: dummy($parameters...);

/*/// Helper mixin to size elements*/
/*/// @param {List} $size - Width and possibly height (but not mandatory)*/
@mixin size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $height: nth($size, 2);
  }

  width: $width;
  height: $height;
}